.container-flex-grow {
  display: flex;
  gap: 20px;
  background-color: #f0f0f0;
  padding: 20px;
}

.flex-item-1 {
  flex-grow: 1;
  /* capacité à grandir */
  flex-shrink: 1;
  /* capacité à rétrécir */
  flex-basis: 200px;
  /* taille de base */
  background-color: #2196F3;
}

.flex-item-2 {
  flex: 2 1 200px;
  /* raccourci : grow shrink basis */
  background-color: #FF5722;
}

.flex-item-3 {
  flex: 1 1 200px;
  background-color: #9C27B0;
}
